setuptools==39.1.0
pytest==3.0.1
flask_restful
flake8==3.0.4
unicode
selenium<3.0.0,>=2.44.0
fake
useragent
wikipedia
pandas
requests
gensim
tqdm
tensorflow
urllib3
sklearn_crfsuite
pythainlp==1.7.1
regex
numpy
scipy
gunicorn
https://download.pytorch.org/whl/cpu/torch-0.3.1-cp36-cp36m-linux_x86_64.whl
git+https://github.com/abenassi/Google-Search-API